.available-form-fields {
  float: left;
  margin-right: 5%;
  text-align: center;
  vertical-align: top;
  width: 20%;
}

.available-form-fields__list {
  background-color: #fff;
  border: 2px solid #000;
  text-align: left;

  @include resetlist;
  margin-bottom: 20px;
}

.available-form-fields__list-item {
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 4px 10px;

  &.ui-draggable-dragging {
    border: 1px solid #000;
    cursor: move;
    z-index: 9001;

    &:hover {
      background-color: #fff;
      border-color: #000;
    }
  }

  &:hover {
    background-color: #95BCF2;
    border-color: #95BCF2;
  }
}

.available-form-fields__create-btn {

}