.form-builder {
  float: left;
  width: 75%;
}

.form-builder__form {
  background-color: #fff;
  border: 2px solid #000;
  margin-bottom: 20px;
  min-height: 640px;
}

.form-builder__done-btn {
  float: right;
  margin-bottom: 20px;
}